! font
xterm*faceName: Source Code Pro
xterm*faceSize: 11

! login shell
xterm*loginshell: true

! colours
xterm*foreground: rgb:29/29/29
xterm*background: rgb:00/00/00

! disable scrollbar
xterm*ScroolBar: true
